body{
    margin: 20px;
    padding: 20px;
}
.main{   

}
h1{
    text-align: center;
    color: red;
}
.list{
    list-style-type: none;
   

}
li{
    margin: 30px;
    border: 2px solid blue;
    gap: 20px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color:fuchsia;
    background-color: lawngreen;
    
}
