.main{

}
h1{
    color: firebrick;
    text-align: center;
}
.res{
    display: flex;
    flex-direction: column;
}
.first,.second,.third{
     border: 2px solid gainsboro;
    gap: 20px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    height: 250px;
    font-size: 20px;


}
.first{
    color: blueviolet;
    margin: 10px;
}
.second{
    color: aquamarine;
    margin: 10px;
}
.third{
    color: aqua;
    margin: 10px;
}
button{
    background-color: blue;
    padding: 10px;
    color: pink;
    cursor: pointer;
}
button:hover{
    background-color: aliceblue;
}
p{
    line-height: 30px;
    word-spacing: 5px;
}