.main{
    box-sizing: border-box;
    border: 3px solid blueviolet;
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
}
.head,h2{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    
}
.head{
    color: pink;
}
h2{
    color: brown;
}
h3{
    margin-left: 20px;
    font-size: 25px;
    color: rebeccapurple;
}
.para{
    line-height: 30px;
    word-spacing: 5px;
    margin-left: 30px;
}

button{
   padding: 10px;
    background-color: fuchsia;
    cursor: pointer;
    border-radius: 3px;
    display: block;
    margin: 0 auto;

}
button:hover{
    background-color: aquamarine;
    color: white;
}


